pandas
yfinance
psycopg2-binary
python-dotenv
sqlalchemy
jupyter
gdeltdoc 
newspaper3k 
feedparser
lxml[html_clean] 
lxml_html_clean
transformers 
torch
xgboost 
scikit-learn 
shap 
joblib 
matplotlib
streamlit
pandas
plotly
psycopg2-binary
python-dotenv
joblib
xgboost
scikit-learn
transformers
torch
shap